<container>

  <div class="row">
    <div class="col-12 col-sm-2 col-md-2 col-lg-2 ">
      <img id="pizzaman" src="/assets/img/pizzaman.png">
    </div>
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-1">
      <div class="card" id="order">
        <div class="card-header text-center text-danger">
          <h2><b>Ready to place your order? <img class="list" src="/assets/img/form.png"></b></h2>
        </div>
        <form class="create-form order ">
          <div class="form-group">
            <label for="pizza">What Pizza would you like to order?</label>
            <br>
            <input type="text" id="pizza" name="name">
          </div>
          <div class="form-group">
            <label for="devour">Would you like to eat it now?</label>
            <br />
            <input class="devour" type="radio" name="devour" value="1" checked> Yes! I'm hungry.
            <br />
            <input class="debour" type="radio" name="devour" value="0"> No, I will eat it later.
          </div>
          <button class="btn btn-danger" id="submit" type="submit">Add Pizza</button>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
      <div class="card">
        <div class="card-header text-center text-danger">
          <h2><b>Current Order</b><img id="roller" src="/assets/img/roller.png"></h2>
        </div>
        <ul class="list-group list-group-flush">
          {{#each pizza}}
          {{#unless this.devoured}}
          <div class="item"><img class="slice" src="/assets/img/slice.png"> {{this.name}}
            <button class="eatMe btn btn-danger" data-id={{this.id}} data-state={{this.devoured}}> Eat Me!</button>
          </div>
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-5 col-xl-4">
      <div class="card">
        <div class="card-header text-center text-danger">
          <h2><b>Devoured Pizzas!</b><img id="pizzaimg" src="/assets/img/pizza.png"> </h2>
        </div>
        <ul class="list-group list-group-flush">
          {{#each pizza}}
          {{#if this.devoured}}
          <div class="item"><img class="slice" src="/assets/img/slice.png">{{this.name}}</div>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</container>